{% extends './user_dashboard.html' %}

{% block content %}
<!-- div - track  -->
<div class="container">
    <div class="p-3 bg-dark d-md-flex overflow">
        <form method="GET">
            <input type="text" name="tracking_no" class="mx-md-3 p-2 mb-3 mb-sm-0" placeholder="Enter Tracking ID">
            <button type="submit" class="au-btn au-btn-icon au-btn--green au-btn--small">
                <i class="zmdi zmdi-plus"></i>Track Item
            </button>
        </form>
    </div>

    <div class="card my-3">

        <div class="card-header">Order Tracking</div>

        <div class="p-3">
            <h4 class="p-2">Tracking No: </h4>

            <div class="container border p-2 d-flex flex-wrap justify-content-between">
                <div>
                    <h5>Date:</h5>
                </div>

                <div>
                    <h5>Status:</h5>
                </div>

                <div>
                    <h5>Location:</h5>
                </div>
            </div>


            {% if status %}
            <div class="container-fluid mt-5">
                <div class="stepper">
                    <div
                        class="step {% if status == 'Picked Up' or status == 'Processing' or status == 'In Transit' or status == 'On Hold' or status == 'Delivered' %}completed{% endif %}">
                        <div class="circle"><i class="fa fa-cube"></i></div>
                        <p>Picked Up</p>
                    </div>
                    <div
                        class="step {% if status == 'Processing' or status == 'In Transit' or status == 'On Hold' or status == 'Delivered' %}completed{% endif %}">
                        <div class="circle"><i class="fa fa-cogs"></i></div>
                        <p>Processing</p>
                    </div>
                    <div
                        class="step {% if status == 'In Transit' or status == 'On Hold' or status == 'Delivered' %}completed{% endif %}">
                        <div class="circle"><i class="fa fa-truck"></i></div>
                        <p>In Transit</p>
                    </div>
                    <div class="step {% if status == 'On Hold' or status == 'Delivered' %}completed{% endif %}">
                        <div class="circle"><i class="fa fa-pause"></i></div>
                        <p>On Hold</p>
                    </div>
                    <div class="step {% if status == 'Delivered' %}completed{% endif %}">
                        <div class="circle"><i class="fa fa-check-circle"></i></div>
                        <p>Delivered</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- shipment details  -->
        <div class="border rounded m-3 p-3">
            <div class="row">
                <div class="col">
                    <div class="py-2">
                        <h5>Shipper Details:</h5>
                        <p>{{shipment.shipper.full_names}}</p>
                        <p>{{shipment.shipper.address}}</p>
                        <p>{{shipment.shipper.location}}</p>
                    </div>

                    <div class="py-2">
                        <h5>Shipped From:</h5>
                        <p>{{shipment.shipped_from}}</p>
                    </div>

                    <div class="py-2">
                        <h5>Reference No:</h5>
                        <p>{{shipment.reference_no}}</p>
                    </div>

                    <div class="py-2">
                        <h5>Departed On:</h5>
                        <p>{{shipment.departure_date}}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="py-2">
                        <h5>Receiver Details:</h5>
                        <p>{{shipment.receiver.full_names}}</p>
                        <p>{{shipment.receiver.address}}</p>
                        <p>{{shipment.receiver.location}}</p>
                    </div>

                    <div class="py-2">
                        <h5>Shipped To:</h5>
                        <p>{{shipment.shipped_to}}</p>
                    </div>

                    <div class="py-2">
                        <h5>Status:</h5>
                        <p>{{shipment.status}}</p>
                    </div>

                    {% if shipment.arrived_date %}
                    <div class="py-2">
                        <h5>Arrived On:</h5>
                        <p>{{shipment.arrived_date}}</p>
                    </div>
                    {% else %}
                    <div class="py-2">
                        <h5>Arrived On:</h5>
                        <p>Not Yet Delivered</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">My Shipments</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="property">
                                <option selected="selected">All Shipments</option>
                                <option value="">In Transit</option>
                                <option value="">Delivered</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--light rs-select2--sm">
                            <select class="js-select2" name="time">
                                <option selected="selected">Today</option>
                                <option value="">3 Days</option>
                                <option value=""> Last Week</option>
                                <option value=""> Last Month</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <button class="au-btn-filter">
                            <i class="zmdi zmdi-filter-list"></i>filters</button>
                    </div>
                    <div class="table-data__tool-right">
                        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                            <select class="js-select2" name="type">
                                <option selected="selected">Export</option>
                                <option value="">Excel</option>
                                <option value="">PDF</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </th>
                                <th>Refference No</th>
                                <th>Receiver</th>
                                <th>Destination</th>
                                <th>Status</th>
                                <th>Status</th>
                                <th>Departure Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if shipments %}
                            {% for shipment in shipments %}
                            <tr class="tr-shadow">
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td>{{shipment.reference_no}}</td>
                                <td>
                                    <span class="block-email">{{shipment.receiver}}</span>
                                </td>
                                <td class="desc">{{shipment.shipped_to}}</td>
                                <td>{{shipment.status}}</td>
                                {% if shipment.has_tracking %}
                                <td>
                                    <span class="status--process">Tracked</span>
                                </td>
                                {% else %}
                                <td>
                                    <span class="status--denied">Untracked</span>
                                </td>
                                {% endif %}
                                <td>{{shipment.departure_date}}</td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Archive">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Details">
                                            <i class="zmdi zmdi-more"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <p>
                                There are currently no records for {{request.user.full_names}}
                            </p>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}