{% extends '../dashboard.html' %}

{% block content %}
{% block items %}
<h3 class="fw-lighter small py-2"># Shipments</h3>
<div class="row">
    <div class="col-12 col-lg-8 mb-4 mb-lg-0">
        {% if shipments %}
        <div class="card">
            <h5 class="card-header">Shipments</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Ref No</th>
                                <th scope="col">Shipper</th>
                                <th scope="col">Receiver</th>
                                <th scope="col">Destination</th>
                                <th scope="col">Status</th>
                                <th scope="col">#</th>
                                <th scope="col">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for shipment in shipments %}
                            <tr>
                                <td>{{shipment.reference_no}}</td>
                                <td>{{shipment.shipper}}</td>
                                <td>{{shipment.receiver}}</td>
                                <td>{{shipment.shipped_to}}</td>
                                <td>{{shipment.status}}</td>
                                <td>
                                    <a href="{% url 'update_shipment' shipment.id %}"
                                        class="btn btn-sm btn-outline-primary">Update</a>
                                </td>
                                <td>
                                    <a href="{% url 'shipment_details' shipment.id %}"
                                        class="btn btn-sm btn-outline-info">Details</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% comment %} pagination {% endcomment %}
                <div class='pagination justify-content-center'>
                    {% if page_obj.has_previous %}
                    <a href='{% url "user_list" %}?page={{ page_obj.previous_page_number }}'
                        class="text-decoration-none">Previous </a>
                    {% endif %}

                    <span class='mx-4'>
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                    <a href='{ url "user_list" }?page={{ page_obj.next_page_number }}' class="text-decoration-none">
                        Next</a>
                    {% endif %}
                </div>
                <!-- END Pagination -->
            </div>
        </div>
        {% else %}
        <div>
            <p>
                There are no shipments at the moment!
            </p>
            <a class="btn btn-sm btn-outline-primary" href="{% url 'add_shipment' %}">Add shipments</a>
        </div>
        {% endif %}
    </div>
    {% endblock %}
    <div class="col">
        <div class="card mb-3">
            <h5 class="card-header">Manage shipments</h5>
            <div class="card-body">
                <a class="btn rounded btn-info mb-3 w-100" href="{% url 'tr_shipments' %}">Track</a>
                <a class="btn rounded btn-primary mb-3 w-100" href="{% url 'add_shipment' %}">Add</a>
                <a class="btn rounded btn-info mb-3 w-100" href="{% url 'shipments' %}">Recent</a>
            </div>
        </div>


        <!-- <div class="card mb-3">
                    <h5 class="card-header">Recent</h5>
                    {% if recent_shipments %}
                    <div class="p-3">
                        {% for user in recent_shipments %}

                        <p>
                            <strong>{{user.user_type}}</strong>: {{user.full_names}} <a href="">details.</a>
                        </p>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="card-body">
                        <p class="fw-lighter">
                            Recently added shipments will appear here!
                        </p>
                    </div>
                    {% endif %}
                </div>

                <div class="card">
                    <h5 class="card-header">Chart</h5>
                    <div class="card-body">
                        <div class="card-text fw-lighter">Charts Will Appear Here!</div>
                        <div id="traffic-chart"></div>
                    </div>
                </div> -->
    </div>
</div>
{% endblock %}