{% extends '../dashboard.html' %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-8 mb-4 mb-lg-0">
        <div class="card p-3">
            <div class="row">
                <div class="col">
                    <div class="py-2">
                        <h5>Shipper Details:</h5>
                        <p>{{shipment.shipper.full_names}}</p>
                        <p>{{shipment.shipper.address}}</p>
                        <p>{{shipment.shipper.location}}</p>
                    </div>

                    <div class="py-2">
                        <h5>Shipped From:</h5>
                        <p>{{shipment.shipped_from}}</p>
                    </div>

                    <div class="py-2">
                        <h5>Reference No:</h5>
                        <p>{{shipment.reference_no}}</p>
                    </div>

                    <div class="py-2">
                        <h5>Departed On:</h5>
                        <p>{{shipment.departure_date}}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="py-2">
                        <h5>Receiver Details:</h5>
                        <p>{{shipment.receiver.full_names}}</p>
                        <p>{{shipment.receiver.address}}</p>
                        <p>{{shipment.receiver.location}}</p>
                    </div>

                    <div class="py-2">
                        <h5>Shipped To:</h5>
                        <p>{{shipment.shipped_to}}</p>
                    </div>

                    <div class="py-2">
                        <h5>Status:</h5>
                        <p>{{shipment.status}}</p>
                    </div>

                    {% if shipment.arrived_date %}
                    <div class="py-2">
                        <h5>Arrived On:</h5>
                        <p>{{shipment.arrived_date}}</p>
                    </div>
                    {% else %}
                    <div class="py-2">
                        <h5>Arrived On:</h5>
                        <p>Not Yet Delivered</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="py-2">
                <a href="{% url 'update_shipment' shipment.id %}" class="btn btn-sm btn-primary">Update</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3">
            <h5 class="card-header">Manage shipments</h5>
            <div class="card-body">
                <a class="btn rounded btn-warning mb-3 w-100" href="{% url 'add_shipment' %}">Add</a>
                <a class="btn rounded btn-info mb-3 w-100" href="{% url 'shipments' %}">Shipments</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}