{% extends '../index.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section id="hero" class="section dark-background">
  <div class="">
    <div class="row border border-white p-3 rounded mt-4">
      <div class="container-fluid">
        <!-- Optional Icon for cargo tracking -->
        <div class="tracking-icon d-flex gap-3">
          <i class="fas fa-shipping-fast"></i> <!-- Cargo tracking icon -->
          <p>Shipments Details</p>
        </div>
        <p>Add Quote Form</p>
        <hr>
        <form method="POST" class="">
          {% csrf_token %}
          {% crispy form %}
        </form>
      </div>
    </div>
  </div>
  {% endblock %}