{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Cargo Tracking App</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- vd CSS Files -->
  <link href="{% static 'vd/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vd/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vd/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vd/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'vd/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vd/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link href="{% static 'css/stepper.css' %}" rel="stylesheet">

</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'img/logo.png" alt=""> -->
        <h1 class="sitename">Cargo</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html" class="active">Home<br></a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#call-to-action">Get Started</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="">Get a Quote</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'img/world-dotted-map.png' %}" alt="" class="hero-bg" data-aos="fade-in">

      <div class="container">
        <div class="row gy-4 d-flex justify-content-between">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h2 data-aos="fade-up">Your Lightning Fast Delivery Partner</h2>
            <p data-aos="fade-up" data-aos-delay="100"> Whether you're managing one package or
              multiple deliveries, our reliable tracking system gives you peace of mind and complete control over your
              shipments. Effortless, fast, and secure – take charge of your cargo with just a few clicks.</p>

            <form method="GET" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up"
              data-aos-delay="200">
              <input type="text" name="tracking_no" class="form-control" placeholder="Enter Your Tracking No ">
              <button type="submit" class="btn btn-primary">Track</button>
            </form>

            <div class="row gy-4" data-aos="fade-up" data-aos-delay="300">

              <div class="col-lg-3 col-6">
                <div class="stats-item text-center w-100 h-100">
                  <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="0"
                    class="purecounter">232</span>
                  <p>Clients</p>
                </div>
              </div><!-- End Stats Item -->

              <div class="col-lg-3 col-6">
                <div class="stats-item text-center w-100 h-100">
                  <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="0"
                    class="purecounter">521</span>
                  <p>Deliveries</p>
                </div>
              </div><!-- End Stats Item -->

              <div class="col-lg-3 col-6">
                <div class="stats-item text-center w-100 h-100">
                  <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="0"
                    class="purecounter">1453</span>
                  <p>Shipments</p>
                </div>
              </div><!-- End Stats Item -->

              <div class="col-lg-3 col-6">
                <div class="stats-item text-center w-100 h-100">
                  <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="0"
                    class="purecounter">32</span>
                  <p>Companies</p>
                </div>
              </div><!-- End Stats Item -->

            </div>

          </div>

          <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
            <img src="{% static 'img/hero-img.svg' %}" class="img-fluid mb-3 mb-lg-0" alt="">
          </div>

        </div>
      </div>

    </section><!-- /Hero Section -->


    <!-- tracking  -->
    <div class="container" id="results">
      <div class="p-3 border m-3 d-md-flex justify-content-center">
        <form method="GET" class="form-search w-100 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200" style="max-width: 800px;">
            <input type="text" name="tracking_no" class="form-control form-control-lg me-2" placeholder="Enter Your Tracking No" style="border-radius: 30px 0 0 30px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
            <button type="submit" class="btn btn-primary btn-lg" style="border-radius: 0 30px 30px 0; padding-left: 30px; padding-right: 30px;">Track</button>
        </form>
    </div>
    
      {% if error_message %}
      <div class="alert alert-danger m-3" role="alert">
        {{ error_message }}
      </div>
      {% endif %}

      {% if shipment %}
      <div class="card my-3">

        <div class="card-header">Order Tracking</div>

        <div class="p-3">
          <h4 class="p-3">Tracking No: {{tracking_no}}</h4>

          <div class="container border p-3 d-flex flex-wrap justify-content-between">
            <div>
              <h5>Date:</h5>
              <p>{{track_shipment.timestamp}}</p>
            </div>

            <div>
              <h5>Status:</h5>
              <p>{{track_shipment.status}}</p>
            </div>

            <div>
              <h5>Location:</h5>
              <p>{{track_shipment.current_location}}</p>
            </div>
          </div>


          {% if status %}
          <div class="container-fluid mt-5">
            <div class="stepper">
              <div
                class="step {% if status == 'Picked Up' or status == 'Processing' or status == 'In Transit' or status == 'On Hold' or status == 'Delivered' %}completed{% endif %}">
                <div class="circle"><i class="fa fa-cube"></i></div>
                <p>Picked Up</p>
              </div>
              <div
                class="step {% if status == 'Processing' or status == 'In Transit' or status == 'On Hold' or status == 'Delivered' %}completed{% endif %}">
                <div class="circle"><i class="fa fa-cogs"></i></div>
                <p>Processing</p>
              </div>
              <div
                class="step {% if status == 'In Transit' or status == 'On Hold' or status == 'Delivered' %}completed{% endif %}">
                <div class="circle"><i class="fa fa-truck"></i></div>
                <p>In Transit</p>
              </div>
              <div class="step {% if status == 'On Hold' or status == 'Delivered' %}completed{% endif %}">
                <div class="circle"><i class="fa fa-pause"></i></div>
                <p>On Hold</p>
              </div>
              <div class="step {% if status == 'Delivered' %}completed{% endif %}">
                <div class="circle"><i class="fa fa-check-circle"></i></div>
                <p>Delivered</p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        <!-- shipment details  -->
        {% if shipment %}
        <div class="border rounded m-3 p-3">
          <div class="row">
            <div class="col">
              <div class="py-2">
                <h5>Shipper Details:</h5>
                <p>{{shipment.shipper.full_names}}</p>
                <p>{{shipment.shipper.address}}</p>
                <p>{{shipment.shipper.location}}</p>
              </div>

              <div class="py-2">
                <h5>Shipped From:</h5>
                <p>{{shipment.shipped_from}}</p>
              </div>

              <div class="py-2">
                <h5>Reference No:</h5>
                <p>{{shipment.reference_no}}</p>
              </div>

              <div class="py-2">
                <h5>Departed On:</h5>
                <p>{{shipment.departure_date}}</p>
              </div>
            </div>
            <div class="col">
              <div class="py-2">
                <h5>Receiver Details:</h5>
                <p>{{shipment.receiver.full_names}}</p>
                <p>{{shipment.receiver.address}}</p>
                <p>{{shipment.receiver.location}}</p>
              </div>

              <div class="py-2">
                <h5>Shipped To:</h5>
                <p>{{shipment.shipped_to}}</p>
              </div>

              <div class="py-2">
                <h5>Status:</h5>
                <p>{{shipment.status}}</p>
              </div>

              {% if shipment.arrived_date %}
              <div class="py-2">
                <h5>Arrived On:</h5>
                <p>{{shipment.arrived_date}}</p>
              </div>
              {% else %}
              <div class="py-2">
                <h5>Arrived On:</h5>
                <p>Not Yet Delivered</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>


    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first" data-aos="fade-up"
            data-aos-delay="200">
            <img src="{% static 'img/about-bg.jpg' %}" class="img-fluid rounded" alt="">
          </div>

          <div class="col-lg-6 content order-last  order-lg-first" data-aos="fade-up" data-aos-delay="100">
            <h3>About Us</h3>
            <p>
              We are a dedicated team committed to making your shipping experience as seamless as possible. Our mission
              is to provide an intuitive and reliable cargo tracking platform that empowers you to stay updated on your
              shipments in real-time.
            </p>
            <ul>
              <li>
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h5>Real-time Tracking</h5>
                  <p>Get live updates on your cargo's location, estimated delivery time, and route changes. </p>
                </div>
              </li>
              <li>
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h5>Global Coverage</h5>
                  <p>Whether you’re shipping locally or internationally, our platform tracks shipments from anywhere in
                    the world.</p>
                </div>
              </li>
              <li>
                <i class="bi bi-broadcast"></i>
                <div>
                  <h5>Secure & Reliable</h5>
                  <p> Reliability is key – trust us to provide accurate
                    and timely updates.</p>
                </div>
              </li>
            </ul>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>We offer a wide range of services designed to streamline your shipping process, ensuring that your cargo is
          handled with care every step of the way.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'img/service-1.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3>Storage</h3>
              <p>We provide secure and climate-controlled storage facilities for your cargo, ensuring it remains safe
                while awaiting shipment. </p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'img/service-2.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">Logistics</a></h3>
              <p>
                From route planning to coordination with carriers, we handle the entire process to minimize delays and
                optimize the journey of
                your shipment.
              </p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'img/service-3.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">Cargo</a></h3>
              <p> Whether you’re shipping small
                packages or oversized freight, we ensure your goods are properly managed and securely transported from
                start to finish.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'img/service-4.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">Trucking</a></h3>
              <p>Our trucking network spans a wide range of local and regional routes, making it easy to move cargo
                across various distances. No matter the destination, we’ve got you covered.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'img/service-5.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3>Packaging</h3>
              <p> We offer professional
                packaging services that are tailored to your cargo’s specific requirements, providing optimal protection
                during transit.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'img/service-6.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">Warehousing</a></h3>
              <p> Whether you need a
                temporary holding area or a long-term storage solution, we offer flexible warehousing options to support
                your business logistics.</p>
            </div>
          </div><!-- End Card Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <img src="{% static 'img/cta-bg.jpg' %}" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Get Started Today</h3>
              <p>Ready to experience seamless cargo tracking and efficient shipping services? </p>
              <p>Sign up now and take control of your shipments with ease</p>
              <a class="cta-btn" href="{% url 'login' %}">Join Us</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

    <!-- Testimonials Section -->
    <!-- <section id="testimonials" class="testimonials section dark-background">

      <img src="{% static 'img/testimonials-bg.jpg' %}" class="testimonials-bg" alt="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>The real-time tracking feature has been a game changer for my business. I always know where my
                    shipments are, and the peace of mind is priceless.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Their warehousing and logistics services are top-notch. From storage to delivery, everything is
                    handled smoothly, saving us time and hassle.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>I trust them with all my cargo needs. Their packaging and trucking services ensure our products
                    arrive safely and on time every single time.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section> -->

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="" class="logo d-flex align-items-center">
            <span class="sitename">Cargo</span>
          </a>
          <p>Our team brings years of experience in logistics, warehousing, and cargo handling, ensuring your goods are
            in safe hands from the moment they leave your facility until they reach their final destination. We believe
            in empowering our clients with the tools and technology needed to stay ahead in today’s fast-paced shipping
            environment.</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About us</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="">Terms of service</a></li>
            <li><a href="">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#services">Cargo</a></li>
            <li><a href="#services">Storage</a></li>
            <li><a href="#services">Packaging</a></li>
            <li><a href="#services">Warehousing</a></li>
            <li><a href="#services">Logistics</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>A108 Mfangano St</p>
          <p>Ngumu House, Nairobi</p>
          <p>Kenya</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+254 717 950959</span></p>
          <p><strong>Email:</strong> <span>fleeklawi@gmail.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Cargo App</strong> <span>All Rights Reserved</span></p>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- vd JS Files -->
  <script src="{% static 'vd/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vd/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vd/aos/aos.js' %}"></script>
  <script src="{% static 'vd/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vd/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vd/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'js/index.js' %}"></script>

</body>

</html>