{% extends './receiver_info.html' %}

{% block form %}
<!-- Optional Icon for cargo tracking -->
<div class="tracking-icon d-flex gap-3">
  <i class="fas fa-shipping-fast"></i> <!-- Cargo tracking icon -->
  <p>Sender's Info</p>
</div>
<p>Add Quote Form</p>
<hr>
<form method="POST" class="">
  {% csrf_token %}
  <div class="form_group py-2">
    {{ form.sender_name }}
  </div>
  <div class="form_group py-2">
    {{ form.sender_email_address }}
  </div>
  <div class="form_group py-2">
    {{ form.sender_location }}
  </div>
  <div class="form_group py-2">
    {{ form.sender_address }}
  </div>
  <div class="form_group py-2">
    {{ form.sender_phone_no }}
  </div>
  <div class="py-2">
    <input type="submit" class="btn btn-primary" value="Next Step">
  </div>
</form>
{% endblock %}